<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<title>Chicken fried rice</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body id= "mainbg">
    <ul class="a">
        <li><a href="index.html">Home</a></li>
        <li><a href="saved-recipe.html">Saved</a></li>
        <li style= "float:right"><a href="contact.html">Contact</a></li>
        <li style= "float:right"><a href="signin.html">Sign In</a></li>
    </ul>
    <h1 id = "logo">EASY RECIPE</h1>
    <br>
    <h1>Chicken Fried Rice</h1>
    <a id= "back" href="index.html">back</a>
    <a id ="save" href="saved-recipe.html">save</a>
    <br><div id="used">
  <button-counter id="press"></button-counter>
</div>
    <div id = "recipeimg"><img src="friedrice.jpg" alt="Chicken Fried Rice" width="75%"></div>
    <br>
    <br>
     <div id="ingredient">
    <br>      
    <h3 id = "textt">Ingredients</h3>
    <ol>
        <li class="d" v-for="sth in todos"
        >{{sth.text}}</li>
        </ol>
    <br>
    </div>
    <br>
    <div id="stepp"> 
    <h3 id="textt">Steps</h3>
   <ol>
        <li class="c" v-for="sth in todoos"
        >{{sth.text}}</li>
        </ol>
      </div>
<h2>Comment</h2>
    <br><div id="multimsg">
<textarea id ="comment" v-model="message" placeholder="Enter comment here.."></textarea>
<p style="white-space: pre-line;">Your comment: <br>{{ message }}</p>
    </div>
    <div id="post">
  <button id = "btn" v-on:click="show = !show">
    Post
  </button>
  <transition name="fade">
    <p v-if="show">Sign in to post comment.</p>
  </transition>
</div>
<script>
     Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You have used this recipe {{ count }} times.</button>'
})
    new Vue({ el: '#used' })
    
     new Vue({
  el: '#post',
  data: {
    show: true
  }
})
       var multiline = new Vue({
  el: '#multimsg',
  data: {
    message:""
  }
})
    var ingredient = new Vue({
        el:"#ingredient",
        data: {
            todos:[
                {key:1, text:"Brown rice. White rice will work great here too"},
                {key:2, text:"Small pieces dice chicken breast about 1/2 – 3/4-inch"},
                {key:3, text:"Toasted sesame oil"},
                {key:4, text:"olive oil"},
                {key:5, text:"Vegetable oil (or canola oil)"},
                {key:6, text:"Frozen peas and carrots blend"},
                {key:7, text:"Green onions"},
                {key:8, text:"Garlic"},
                {key:9, text:"Eggs"},
                {key:10, text:"Low-sodium soy sauce"},
            ]
        }
        
        
    })
    
    var step = new Vue({
        el:"#stepp",
        data: {
            todoos:[
                {key:1, text:"In a large non-stick wok or skillet, heat 1 1/2 tsp sesame oil and 1 1/2 tsp of the canola oil over medium-high heat."},
                {key:2, text:"Add chicken pieces, season lightly with salt and pepper and saute until cooked through, about 5 – 6 minutes."},
                {key:3, text:"Transfer chicken to a plate or a piece of foil and set aside."},
                {key:4, text:"Return skillet to medium-high heat, add remaining 1 1/2 tsp sesame oil and 1 1/2 tsp canola oil."},
                {key:5, text:"Add peas and carrots blend and green onions and saute 1 minute, then add garlic and saute 1 minute longer."},
                {key:6, text:"Push veggies to edges of pan."},
                {key:7, text:"Add eggs in center and cook and scramble until just set."},
                {key:8, text:"Return chicken to skillet along with rice."},
                {key:9, text:"Add in soy sauce and season with salt and pepper to taste."},
                {key:10, text:"Toss everything together and serve warm with Sriracha to taste if desired."},
               
                
            ]
        }
        
        
    })
    </script>        
</body>
</html>
