* {
    box-sizing: border-box;
}

#save{
  background-color:burlywood;
  border: 2px solid tan;
  color: white;
  padding: 6px 9px;
  text-decoration: none;
  margin-left: 10px;
}

#saveempty{
  margin-top: 40px;
  float: center;
  text-align: center;
}

#mainbg{
  height: auto;
  width: auto;
  background-color:floralwhite;
  margin: 0;
}

#square{
  height: 3px;
  width: 10%;
  margin-left: 15px;
  background-color: burlywood;
}

footer{
  text-align: center;
  bottom: 0;
  left:0;
  padding: 2px;
  background-color: burlywood;
  color: white;
}
#square1{
  height: 3px;
  width: 15%;
  margin-left: 15px;
  background-color: burlywood;
}

#square2{
  height: 3px;
  width: 20%;
  margin-left: 15px;
  background-color: burlywood;
}

#back{
  background-color:burlywood;
  border: 2px solid tan;
  color: white;
  padding: 6px 9px;
  text-decoration: none;
  margin-left:20px;
}
#text{
  margin-left: 15px;
}

form{
    margin-left: 15px;
}

#ingredient{
  background-color:antiquewhite;
  width:30%;
  height: auto;
  border-radius: 20px;
  margin-left: 20px;
  border: 2px solid tan;
}

#step{
  background-color:blanchedalmond;
  max-width:97%;
  height: 50px;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 10px;
  border: 2px solid tan;
}

h1{
    font-family: "Times New Roman", Times, serif;
    color: saddlebrown;
    text-align: center;
}

h3{
    font-family: "Times New Roman", Times, serif;
    color: saddlebrown;
}
#logo{
  height:166px;
  width:587px;
  background-image:url("logo.png");
  background-repeat:no-repeat;
  position: absolute;
  float: left;
  top: 4px;
  overflow: auto;
  background-size:150px 42px;
}

#spaghettii{
  position: absolute;
  margin-top: 120px;
  margin-left: 570px;
  border: none;
  outline: none;
  padding: 190px 380px;
  background-image: url("spaghetti.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#browniess{
  position: absolute;
  margin-top: 120px;
  margin-left: 570px;
  border: none;
  outline: none;
  padding: 190px 380px;
  background-image: url("brownies.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
}

#friedricee{
  position: absolute;
  margin-top: 120px;
  margin-left: 570px;
  border: none;
  outline: none;
  padding: 190px 380px;
  background-image: url("friedrice.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

ul.a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:blanchedalmond;
  top: 0;
  overflow: auto;
  border: 2px solid tan;
}

ul.b{
  list-style-type: circle;
}

li{
    float: left;
}

li.b{
    margin-bottom: 12px;
    margin-left: 15px;
}

li a{
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none; 
}

li a.activee{
  background-color: burlywood;
  color: white; 
}

#search{
  width: 150%;
  margin-top: 50px;
  margin-left: 528px;
}

#spaghetti {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  border: none;
  outline: none;
  padding: 100px 200px;
  background-image: url("spaghetti.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.18);
}

#brownies {
  position: absolute;
  margin-top: 10px;
  margin-left: 475px;
  border: none;
  outline: none;
  padding: 100px 200px;
  background-image: url("brownies.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.18);
}

#friedrice {
  position: absolute;
  margin-top: 10px;
  margin-left: 930px;
  border: none;
  outline: none;
  padding: 100px 200px;
  background-image: url("friedrice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.18);
}

input[type=text] {
  width: 15%;
  padding: 5px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid burlywood;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid black;
}

input[type=email] {
  width: 25%;
  padding: 5px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid burlywood;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  outline: none;
}

input[type=email]:focus {
  border: 2px solid black;
}

input[type=password] {
  width: 15%;
  padding: 5px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid burlywood;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  outline: none;
}

input[type=password]:focus {
  border: 2px solid black;
}

input[type=submit]{
  background-color:burlywood;
  border: 2px solid tan;
  color: white;
  padding: 6px 9px;
  text-decoration: none;
  margin-left: 325px;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: bisque;
  color: black;
  border: 2px solid tan;
  width: 300px;
  line-height: 300px;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 15px;
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  margin-left: 15px;
  margin-bottom: 10px;
  outline: none;
  padding: 12px 16px;
  background-color: blanchedalmond;
  border: 2px solid tan;
  cursor: pointer;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: burlywood;
  color: white;
}
